<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Cookies arrived with the page request:</p>
    <table width="80%" border>
      <tr><th>name</th><th>value</th></tr>
      <% for (c in cookies) {%>
      <tr><td><%= c %></td><td><%= cookies[c] %></td></tr>
      <% } %>
    </table>
    <hr>
    <p>Netko je dirao moju kašu!</p>
    <p>Netko je sjedio na mojem stolcu!</p>
    <p>Netko je ležao na mojem krevetu!</p>
    <img src="http://localhost:3000/users" width="1" height="1">
    <p>Kako to? Kako to?</p>
  </body>
</html>
